
.owl-prev{
   
   
    position: absolute;
    top: 40%;
    font-size: 36px;
    left:0;


}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #35979c;
}
.owl-next{
    position: absolute;
    top: 40%;
    right: 0%;
    font-size: 36px;
}

.owl-prev span{
    font-size: 36px;;
}
.owl-next span{
    font-size: 36px;
}

  @media screen and (min-width: 1000px) {
    .banner {
        height:140px;
    }
  }
  @media screen and (max-width: 999px) {
    .banner {
        height:90px;
    }
  }

  
  /* @media screen and (min-width: 1000px) {
    .main_prod_img img {
        height: 474px;
    }
  }
  @media screen and (max-width: 999px) {
    .main_prod_img img {
        height: 374px;
    }
  } */
  
  /* @media screen and (min-width: 1000px) {
    .prod_detail_img img {
        height: 474px;
    }
  }
  @media screen and (max-width: 999px) {
    .prod_detail_img img {
        height: 374px;
    }
  } */
  .slick-dots{
    visibility: hidden;
  }
  

  .img_hotspot_back {

    position: absolute;
    border-radius: 50%;
    border: 5px solid rgb(245, 203, 18);
    animation-delay: 0s;
    -webkit-animation: pulsate1 2s;
    animation: pulsate1 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;

  }

  
  @-webkit-keyframes pulsate1 {
    0% {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 1;
      box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
      box-shadow: none;
  
    }
  }
  
  @keyframes pulsate1 {
    0% {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 1;
      box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
      -webkit-transform: scale(1, 1);
      transform: scale(3);
      opacity: 0;
      box-shadow: none;
  
    }
  }
