@font-face {
    font-family: 'Campton';
    font-style: normal;
    font-weight: 700;
    src: url(/shop_the_look/static/src/fonts/Campton-Bold.woff2) format("woff2"), url(/shop_the_look/static/src/fonts/CamptonBold.woff) format("woff");
    font-display: swap
}

@font-face {
    font-family: 'Campton-Medium';
    font-style: normal;
    font-weight: 500;
    src: url(/shop_the_look/static/src/fonts/Campton-Medium.woff2) format("woff2"), url(/shop_the_look/static/src/fonts/CamptonMedium.woff) format("woff");
    font-display: swap
}

@font-face {
    font-family: 'Campton-Light';
    font-style: normal;
    font-weight: 300;
    src: url(/shop_the_look/static/src/fonts/Campton-Light.woff2) format("woff2"), url(/shop_the_look/static/src/fonts/CamptonLight.woff) format("woff");
    font-display: swap
}

.add_hotspot_modal{

    .modal-dialog {
        padding: 3.75rem 0 !important;


    .modal-header-bar {
        background: linear-gradient(to right, #b6fbff, #83a4d4) !important;
        height: 8px !important;
        width: 100% !important;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    .picky-close-x-button{
        background-color: #83a4d4;
        display: block;
        outline: 0;
        background-image: url(https://cdn.pickystory.com/widget/dist/latest/img/x.9d6ceb11.svg);
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        border: none;
        padding: 0;
        margin: 0;
        border-radius: 50%;
        box-sizing: border-box;
        cursor: pointer;
        z-index: 167772;

        position: absolute;
        background-size: 20px;
        box-shadow: 0 13px 24px 0 rgba(0,0,0,.14);
        width: 48px;
        height: 48px;
        right: -22px;
        top: -22px;
        &:hover{
            transform: scale(1.1);
            transition: all 0.4s ease;
        }
    }


    .modal-body{
        .imagemaps-wrapper{
            position: relative;
            .card-img-primary{
                object-fit: contain;
                max-height: 419px;
                max-width: 500px;
            }
        }
    }

    }


}